/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/humbug.json
/var/*
var
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
app/bootstrap.php.cache
.idea
